body {
    background-color: #72c7ff;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

/* Autor no topo: Letras brancas, maiores e com destaque */
.autor {
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 80px; /* Aumentado para dar mais destaque */
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.imagem-poema {
    max-width: 230px;
    height: auto;
    border-radius: 8px;
}

/* Fundo branco que se ajusta ao texto do poema */
.poema {
    background-color: #ffffff8f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    line-height: 1.6;
    font-family: 'Tahoma', sans-serif;
    font-size: 18px;
    font-weight: bold;
    
    width: max-content; 
    max-width: 100%; 
    box-sizing: border-box; 
    
    /* Alinha o título e os parágrafos verticalmente */
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

/* Título dentro da caixa branca */
.titulo-poema {
    color: #333333; /* Cor escura para contrastar com o fundo branco */
    font-size: 22px;
    margin: 0 0 10px 0;
    font-style: italic;
    border-bottom: 1px solid #eeeeee; /* Adiciona uma linha sutil abaixo do título */
    padding-bottom: 10px;
}

/* Ano do poema */
.ano {
    font-size: 16px;
    color: #777777;
    font-weight: normal;
}
